#gameScreen {
  border: 3px solid black;
  font-family: 'arcadeclassicregular', Arial, sans-serif;
}

#borisGame {
  width: 60%;
  height: 600px;
}

body {
  background-image: url("https://data.whicdn.com/images/208932206/original.gif");
}

html, body {
  margin: 0;
  height: 100%
}

.button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:7px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'arcadeclassicregular', Arial, sans-serif;
	font-size:28px;
	font-weight:bold;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #cc9f52;
}
.button:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.button:active {
	position:relative;
	top:1px;
}

h1{
  font-family: 'arcadeclassicregular', Arial, sans-serif;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  font-family: 'arcadeclassicregular', Arial, sans-serif;
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.background-container {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.about-images-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #d3d3d3;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#keyboard {
width: 80%;
height: 300px;
}

#upKey {
  width: 50%;
  height: 100px;
}


/* #keyboard {
  flex: 1;
  height: 300;
  width: 1000;
  resizeMode: "contain"
} */
