/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
} */


#keyboard {
  flex: 1;
  height: 300;
  width: 1000;
  resizeMode: "contain"
}
